.Container{
    width : 100%;
    height : 80vh;
    display : flex;
    align-items: flex-start;
    .Cards{
        width : 80%;
        height : 100%;
    }
    .MainActive{
        height : 100%;
        width : 100%;
        display : flex;
        align-items: center;
        justify-content: center;
        transition : all 0.1s;
        .Highlighted{
            width : 40%;
            padding : 20px;
            img{
                width : 100%;
            }
        }
        .List{
            // padding : 20px;
            width : 30%;
            display : flex;
            flex-direction: column;
            img{
                width : 100%;
                padding : 10px;
            }
        }
    }
    .Switch{
        // height : 100%;
        display : flex;
        align-items: center;
        width : 20%;
        color : white;
        font-size : 1.2rem;
        display : flex;
        span{
            margin-left : 10px;
            transition : all 0.05s;
            &:hover{
                cursor: pointer;
            }
        }
        .ActiveNow{
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}



@media(max-width : 576px) {
    .Container{
        height : auto;
        min-height: 100vh;
        padding-bottom : 100px;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-start;
        .Switch{
            width : 100%;
            align-items: center;
            justify-content: center;
            margin : 0px;
            padding : 0px;
            margin-top : 30px;
        }
        .Cards{
            width : 100%;
            .MainActive{
                flex-direction: column;
                .Highlighted{
                    width : 85%;
                    margin-top : 20px;
                }
                .List{
                    width : 80%;
                }
            }
        }
    }
}